/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-storage-unit-meta-block {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.sp_feature_tag{
	padding: 0.25rem;
	margin: 0.25rem;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.5rem;
	font-size: smaller;
}
