/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.storagepress-reserve-button {
	background-color: black;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;

	&:hover {
        opacity: 0.8;
    }
}

.storagepress-reserve-modal-close-button{
	position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    border: none;
    background: none;
    margin-bottom: 0;
    margin-left: 0;
    font-size: x-large;

	display: flex;
    align-items: center;
    justify-content: center;

	outline: none !important;

	&:hover {
        color: red
    }
}